body {
    font-family:Arial, Helvetica, sans-serif;
}

.siteheader h1 {
    font-size: 36px;
}

.emoji {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
}
/* since i have no information about size of h1 h2 padding i am using the estimated and standard value */
.emoji h2 {
    font-size: 24px;
}

.icon {
    font-size: 56px;
}