body {
    font-family:Arial, Helvetica, sans-serif;
}

.siteheader h1 {
    font-size: 36px;
}

.emoji {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* default flex value is row so i had to change the row into column with flex-direction tag */
    /* margin: 0 auto; */
}
/* since i have no information about size of h1 h2 padding i am using the estimated and standard value */
.emoji h2 {
    font-size: 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.381);
    margin-bottom: 0px;
    /* removed margin bottom to remove the space */
}

.icon {
    font-size: 56px;
    order: -1;
    margin: 0 auto;
    /* -1 will keep my emoji on the top always */
}

.emoji a {
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    order: 1;
    /* 1 will keep my link button stack with bottom always */
}

